<launch>
  <group ns="gelsight_left">
    <node pkg="gelsight_mini_ros1" type="gelsight_mini_node.py" name="node" output="screen">
      <param name="device_index" value="1"/>

      <param name="fps" value="15"/>
      <param name="target_width" value="640"/>
      <param name="target_height" value="480"/>
      <param name="border_fraction" value="0.15"/>
      <param name="encoding" value="rgb8"/>
      <param name="frame_id" value="gelsight_left_frame"/>

      <param name="mask_threshold" value="25.0"/>
      <param name="min_area" value="400.0"/>
      <param name="blur_ksize" value="7"/>
      <param name="baseline_frames" value="20"/>
    </node>
  </group>

  <group ns="gelsight_right">
    <node pkg="gelsight_mini_ros1" type="gelsight_mini_node.py" name="node" output="screen">
      <param name="device_index" value="2"/>

      <param name="fps" value="15"/>
      <param name="target_width" value="640"/>
      <param name="target_height" value="480"/>
      <param name="border_fraction" value="0.15"/>
      <param name="encoding" value="rgb8"/>
      <param name="frame_id" value="gelsight_right_frame"/>

      <param name="mask_threshold" value="25.0"/>
      <param name="min_area" value="400.0"/>
      <param name="blur_ksize" value="7"/>
      <param name="baseline_frames" value="20"/>
    </node>
  </group>
</launch>
